body {
  background-color: #1c1c1c;
  /*display: flex;
  flex-direction: row;*/
}
#title {
  text-align: center;
  color: white;
}
h1 {
  font-family: 'Glegoo', serif;
  font-weight: normal;
  font-size: 4em;
  margin: 0 0 10px 0;
}
img {
  width: 20%;
}

.anim {
  position: relative;
}
/*===================================*/
/*PACMAN*/
/*===================================*/
.pacman {
  position: relative;
}
.body_top {
  width: 180px;
  height: 90px;
  border-radius:100px 100px 0 0;
  background: #dbb200;
  animation: body_top 0.5s infinite linear;
}

.body_bottom {
  width: 180px;
  height: 90px;
  border-radius: 0 0 100px 100px;
  background: #dbb200;
  animation: body_bottom 0.5s infinite linear;
}

@keyframes body_top {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(-35deg);}

}
@keyframes body_bottom {
  0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

.pacman .eyes {
  position: absolute;
  width: 25px;
  height: 25px;
  background: black;

  /*right: 60px;*/
  left: 110px;
  top: 30px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.pacman .eyes .iris {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;

  top: 5px;
  right: 2px;

}

/*===================================*/
/*FOOD*/
/*===================================*/
.dot {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /*background: white;*/
  z-index: -1;
  animation: dotmove 1s linear 0s infinite;
}
/*@keyframes dotmove {
  from {
    left: 200px;
  }
  to {
    left: 10px;
  }
}*/
@keyframes dotmove {
	0% { box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;}

100% { box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;}
}
}
/*===================================*/
/*GHOST*/
/*===================================*/
/*@keyframes ghost_move {
from {left: 600px;}
to {left: 0px;}
}
.ghost {
position: relative;
height: 180px;
width: 130px;
background: #f679f1;


-webkit-border-radius: 70px 70px 0 0;
-moz-border-radius: 70px 70px 0 0;
-o-border-radius: 70px 70px 0 0;
border-radius: 70px 70px 0 0;

animation-name: ghost_move;
animation-duration: 5s;


}
.ghost .eyes {
position: absolute;
width: 35px;
height: 35px;
background: #fff;

-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
}
.ghost .eyes:nth-child(1) {
top: 40px;
left: 20px;
}
.ghost .eyes:nth-child(2) {
top: 40px;
left: 70px;
}
.ghost .eyes .iris {
position: absolute;
width: 15px;
height: 15px;
background: blue;
top: 10px;

-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;

animation-name: yeux;
animation-duration: 3s;
animation-iteration-count: infinite;

}
@keyframes yeux {
0%  {left:0px;}
25% {left: 10px;}
50% {left: 20px;}
75% {left: 10px;}
100% {left: 0px;}
}

.bottom .left {
position: absolute;
width: 0;
height: 0;
bottom: 0;
left: 0;

border-left: 33px solid transparent;
border-right: 33px solid transparent;
border-bottom: 40px solid #1c1c1c;
}

.bottom .right {
position: absolute;
width: 0;
height: 0;
bottom: 0;
right: 0;

border-left: 33px solid transparent;
border-right: 33px solid transparent;
border-bottom: 40px solid #1c1c1c;
}*/
